<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgaws.business.sys.mapper.ThirdAppMapper">

    <select id="selectByAppKey" resultType="com.tgaws.business.sys.mapper.ThirdAppMapper$ThirdAppRow">
        SELECT app_key AS appKey, app_secret AS appSecret, secret_old AS secretOld,
               secret_rotate_time AS secretRotateTime, app_name AS appName,
               enabled, expire_time AS expireTime, ip_whitelist AS ipWhitelist
        FROM sys_third_app
        WHERE app_key = #{appKey} AND is_deleted = 0
    </select>

</mapper>
